# =========================
# Build folders
# =========================
build/
cmake-build-*/
out/
bin/
obj/

# =========================
# CMake
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Logs
# =========================
*.log

# =========================
# IDE (VS Code / CLion)
# =========================
.vscode/
.idea/

# =========================
# OS (Windows)
# =========================
Thumbs.db
Desktop.ini

# =========================
# Temporary files
# =========================
*.tmp
*.swp

TODO.md

main.bgt
